/*
_______                         _______                        
___    |__      ____      __    ___    |_______________________
__  /| |_ | /| / /_ | /| / /    __  /| |__  __ \__  __ \_  ___/
_  ___ |_ |/ |/ /__ |/ |/ /     _  ___ |_  /_/ /_  /_/ /(__  ) 
/_/  |_|___/|__/ ____/|__/      /_/  |_|  .___/_  .___//____/  
                                       /_/     /_/             
*/

/*////////////////////////////////////////////////////////////////////////////*/
/*                                   IMPORTS                                  */
/*////////////////////////////////////////////////////////////////////////////*/

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

/*////////////////////////////////////////////////////////////////////////////*/
/*                       SASS VARS, MIXINS AND FUNCTIONS                      */
/*////////////////////////////////////////////////////////////////////////////*/

@mixin centerWithWidth($width) {
	display: block;
	margin: 0 auto;
	max-width: $width;
}

@mixin center {
	display: block;
	margin: 0 auto;
}

@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

$duration: 0.2s;

/*////////////////////////////////////////////////////////////////////////////*/
/*                                   RESET                                    */
/*////////////////////////////////////////////////////////////////////////////*/

* {
    margin: 0;
    padding: 0;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    FONT                                    */
/*////////////////////////////////////////////////////////////////////////////*/

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}

a {
	text-decoration: none;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                     BUTTON                                 */
/*////////////////////////////////////////////////////////////////////////////*/



.button {
    text-align: center;
    color: white;
    display: block;
    transition: background-color $duration;
}

@mixin buttonWidthAndColor($buttonWidth, $buttonColor) {
	background: $buttonColor;
    width: $buttonWidth;
    height: $buttonWidth;
    line-height: $buttonWidth;
	&:hover {
		background-color: darken($buttonColor, 20%);
	}
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                     GRID                                   */
/*////////////////////////////////////////////////////////////////////////////*/

.grid-2 {
	.gridMember:nth-child(1) {
		float: left;
	}
	.gridMember:nth-child(2) {
		float: right;
	}
	overflow: hidden;
}

.grid-3 {
	.gridMember:nth-child(1) {
		float: left;
	}
	.gridMember:nth-child(2) {
		float: left;
	}
	.gridMember:nth-child(3) {
		float: left;
	}
	overflow: hidden;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    HEADER                                  */
/*////////////////////////////////////////////////////////////////////////////*/

#header {
    height: 700px;
    background-color: #DAD8D8;
	background-image: url(../images/background.svg);
	background-size: cover;
	background-repeat:no-repeat;
    background-position:center bottom;
    img {
        width: 100px;
        margin: 30px;
    }
    #vertical-align {
        float: right;
        margin: 30px;
    }
    .button {
        margin-bottom: 20px;
        @include buttonWidthAndColor(70px, #666666);
        font-size: 26px;
    }
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                     APPS                                   */
/*////////////////////////////////////////////////////////////////////////////*/

#apps {
    background-color: #FD6ACB;
    padding: 70px 0;
    img {
        @include centerWithWidth(120px);
        border-radius: percentage(10 / 57);
    }
    a {
        transition: opacity $duration;
        &:hover {
		  opacity: 0.8;
	   }
    }
    .grid-3 {
		@include centerWithWidth(800px);

	}
	.gridMember {
        width: (100% / 3);
	}
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                    BLOG                                    */
/*////////////////////////////////////////////////////////////////////////////*/

#blog {
	background-color: #FC6769;
	padding: 50px 0;
	transition: opacity $duration;
	a {
		font-size: 50px;
		color: white;
		&:hover {
		  opacity: 0.7;
	   }
	}
}

/*////////////////////////////////////////////////////////////////////////////*/
/*                                     ABOUT                                  */
/*////////////////////////////////////////////////////////////////////////////*/

#about {
	background-color: #666666;
	color: white;
	padding: 80px 0;
	p {
		font-size: 32px;
		text-align: center;
		margin-bottom: 20px;
	}
	.button {
        @include buttonWidthAndColor(50px, #CCCCCC);
        font-size: 20px;
    }
	.twitter {
		@include buttonWidthAndColor(50px, #23CDFD);
	}
	.grid-2 {
		@include centerWithWidth(120px);
	}
}